<div class="sign-in-container columns mb-4 py-6">
  <div class="sign-in-image column is-flex is-justify-content-end">
    <h1 class="has-text-black is-size-4 has-text-weight-bold is-family-monospace ">WELCOME BACK!</h1>
    <%= image_tag ("/assets/flame-success.png"), class: "img-signin" %>
  </div>
  <div class="sign-in-box column columns is-two-fifth-tablet is-three-fifths-desktop has-background-grey-dark is-flex is-justify-content-start">
    <div class="sign-in column is-narrow">
      <h2 class="is-size-3 has-text-pink has-text-weight-semibold pb-2 has-text-centered">Sign in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field is-flex is-align-items-center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class: 'ml-1' %>
          </div>
        <% end %>

        <%= f.submit "Log in", class: 'sign-in-button button is-pink mb-2' %>
      <% end %>
      <div class="is-size-7 has-text-centered">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    
  </div>
</div>
