<div class="is-flex is-flex-direction-column is-align-items-center">
  <div class="index-form has-background-grey-dark p-4">
    <%= form_for(@post) do |form| %>
      <%= form.text_field :content, id: :post_content, class: 'post-box box', placeholder: 'What are you thinking?' %>
      <span class="is-size-7"><%= display_errors(@post) %></span>
      <button class="send button is-pink">
        <%= form.submit class: 'is-hidden' %>
        <i class="fas fa-paper-plane"></i>
      </button>
    <% end %>
  </div>

  <article class="timeline is-flex is-flex-direction-column">
    <ul class="posts">
      <%= render @timeline_posts %>
      <%= no_recent %>
    </ul>
  </article>
</div>